<div id="porf-col" class="col-sm-6">
    <li>
	<p>
	    <a href="https://www.ballparksvisited.com/" target="_blank">Ballparks I've Visited</a>. Is a  <a href="https://www.facebook.com/ballparksivevisited/" target="_blank">facebook app</a>, use to manage MLB-ballpark visitation and share visited parks thru Facebook's feed. I was part of a SCRUM team that created it. It uses MEAN stack development, worked with a lot of Angular.js, Facebook APIs and Google Map APIs.
	</p>
    </li>
</div>
<div class="col-sm-6">
    <div id="bpCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#bpCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#bpCarousel" data-slide-to="1"></li>
	    <li data-target="#bpCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	    <div class="item active">
		<%= link_to image_tag("bppc1.png", alt: "view visited ballparks", class: "img-responsive"), 'https://drive.google.com/open?id=0B3cJc939MF8obTExWUR1Y3BJeDA', target: :_blank %>
		<div id="unseen-carousel-cap" class="carousel-caption">
		    <p>View visited ballpark/s details</p>
		</div>
	    </div>

	    <div class="item">
		<%= link_to image_tag("bppc2.png", alt: "Share visited ballparks with friends", class: "img-responsive"), 'https://www.facebook.com/ballparksivevisited/', target: :_blank %>
		<div id="unseen-carousel-cap" class="carousel-caption">
		    <p>Share visited ballparks w/ friends</p>
		</div>
	    </div>

	    <div class="item">
		<%= image_tag("bppc3.png", alt: "Compare visited ballparks with friends", class: "img-responsive") %>
		<div id="unseen-carousel-cap" class="carousel-caption">
		    <p>Compare visited ballparks</p>
		</div>
	    </div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#bpCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#bpCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	</a>
    </div>
</div>
