<div class="col-sm-6">
    <li><p>Spear-headed an abstract database built in Oracle-SQL, my team constructed the best possible design for a imaginary hospital, <a href="https://drive.google.com/open?id=0B3b91e-xtLxEaldPOFNFc0dpc0E" target="_blank"> Four Phases of hospital database project</a> Created EER diagram and relational schema, using normalization technique such as 3NF.</p></li>
</div>
<div class="col-sm-6">
    <div id="dbCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#dbCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#dbCarousel" data-slide-to="1"></li>
	    <li data-target="#dbCarousel" data-slide-to="2"></li>
	    <li data-target="#dbCarousel" data-slide-to="3"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	    <div class="item active">
		<%= link_to image_tag("Phase1EER.png", alt: "EER Diagram Phase 1", class: "img-responsive"), 'https://drive.google.com/open?id=0B1r7m2GYBGugX1BxNHFiMlYxUEk', target: :_blank %>
		<div class="carousel-caption">
		    <p>Enhanced Entity Relationship Initial</p>
		</div>
	    </div>

	    <div class="item">
		<%= link_to image_tag("Phase2EER.png", alt: "EER Diagram Phase 2", class: "img-responsive"), 'https://drive.google.com/open?id=0B1r7m2GYBGugWjMyNWJ3VnhKZDg', target: :_blank %>
		<div class="carousel-caption">
		    <p>Phase 2 Enhanced Entity Relationship</p>
		</div>
	    </div>

	    <div class="item">
		<%= link_to image_tag("Phase3Relational.png", alt: "Phase 3 Relational Diagram", class: "img-responsive"), 'https://drive.google.com/open?id=0B3b91e-xtLxETmFPLWg2aWZ6SWs', target: :_blank %>
		<div class="carousel-caption">
		    <p>Phase 3 Relational Schema</p>
		</div>
	    </div>

	    <div class="item">
		<%= link_to image_tag("Phase4EER.png", alt: "EER Diagram Phase 4", class: "img-responsive"), 'https://drive.google.com/open?id=0B1r7m2GYBGugblF2U0hIRW5oZHM', target: :_blank %>
		<div class="carousel-caption">
		    <p>Enhanced Entity Relational Final</p>
		</div>
	    </div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#dbCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#dbCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	</a>
    </div>
</div>
