<div class="col-sm-6">
    <li>
	<p>
	    During my software development class, we developed a web application using Feature driven approach. The app was used to manage  a nurse's clinical schedules. It was presented to the our university's' Nursing department and was chosen as the best app among its competition.The web app was called <a href="https://sium.herokuapp.com/" target="_blank">SIUM</a>, and used Rails rapid-prototyping to build functionalities such as note-taking, internal-messaging, activity-log, and a few more requirements.
	</p>
    </li>
</div>
<div class="col-sm-6">
    <div id="siumCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	    <li data-target="#siumCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#siumCarousel" data-slide-to="1"></li>
	    <li data-target="#siumCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	    <div class="item active">
		<%= link_to image_tag("SiumSeqDiag.png", alt: "SIUM Sequence Diagrams", class: "img-responsive"), 'https://drive.google.com/open?id=0B1r7m2GYBGugbkg4WUg0ZXVfNGs', target: :_blank %>
		<div class="carousel-caption">
		    <p>SIUM Sequence Diagrams</p>
		</div>
	    </div>

	    <div class="item">
		<%= link_to image_tag("SiumUI.png", alt: "UI design", class: "img-responsive"), 'https://drive.google.com/open?id=0B1r7m2GYBGugMVMxS3NycmZrNGc', target: :_blank %>
		<div class="carousel-caption">
		    <p>UI designs</p>
		</div>
	    </div>

	    <div class="item">
		<%= image_tag("SIUMDb.png", alt: "Database design") %>
		<div class="carousel-caption">
		    <p>Database design</p>
		</div>
	    </div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#siumCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#siumCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	</a>
    </div>
</div>
