<div class="row">
    <div class="video-bg">
	<%= video_tag "Working_laptop.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
	<%= link_to image_tag("profile.jpg", alt: "Karlo's Profile Pic", class: "img-circle"), 'https://www.linkedin.com/in/aktilaon/', target: :_blank %>
    </div>
    <div class="center jumbotron">
	<h1>Karlo Tilaon</h1>
	    <h3>
		BaSC in Computer Science
	    </h3>
	    <h2>University of Texas</h2>
	<h2>
	    <a href="https://www.linkedin.com/in/aktilaon/", target="_blank">Linkedin Profile.</a>
	</h2>
	<h3>Overview</h3>
	<p>	   
	    &emsp;&emsp;&emsp;A passionate programmer and IT guy, loves to learn cutting edge technologies that would make working easier and less error prone. Hard worker and a team player. Years in academia nurtured my talent, naturally curious to computing applications and limitations. Knows fundamental concepts of computing; built my technical knowledge ontop of that.
	</p>
	<div class="container">
	    <div class="row">
		<div class="col-sm-4">
		<h3>Skills</h3>
		<ul class="list-group">
		    <li class="list-group-item">OOP <span class="badge">4 yrs</span></li>
		    <li class="list-group-item">Functional P <span class="badge">2 yrs</span></li>
		    <li class="list-group-item">IR <span class="badge">1 yrs</span></li>
		    <li class="list-group-item">Algorithms <span class="badge">2 yrs</span></li>
		    <li class="list-group-item">Ruby on Rails <span class="badge">2 yrs</span></li>
		    <li class="list-group-item">Rapid Prototyping <span class="badge">1 yrs</span></li>
		    <li class="list-group-item">Full-stack dev<span class="badge">2 yrs</span></li>
		    <li class="list-group-item">SDLC<span class="badge">1 yr</span></li>
		    <li class="list-group-item">Agile methodology<span class="badge">1 yr</span></li>
		    <li class="list-group-item">SCRUM<span class="badge">1 yr</span></li>
		    <li class="list-group-item">Test Driven-D<span class="badge">1 yr</span></li>
		    <li class="list-group-item">CRUD design <span class="badge">2 yrs</span></li>
		    <li class="list-group-item">MongoDB<span class="badge">1 yr</span></li>
		    <li class="list-group-item">Express.js<span class="badge">1 yr</span></li>
		    <li class="list-group-item">Angular<span class="badge">1 yr</span></li>
		    <li class="list-group-item">Node.js <span class="badge">1 yr</span></li>
		    <li class="list-group-item">GIT <span class="badge">2 yrs</span></li>
		    <li class="list-group-item">HTML & CSS<span class="badge">3 yrs</span></li>
		</ul>
		</div>
		<div class="col-sm-4">
		    <h3>Languages</h3>
		    <ul class="list-group">
			<li class="list-group-item">Java <span class="badge">2 yrs</span></li>
			<li class="list-group-item">Javascript <span class="badge">2 yr</span></li>
			<li class="list-group-item">C <span class="badge">1 yrs</span></li>
			<li class="list-group-item">Ruby <span class="badge">2 yrs</span></li>
			<li class="list-group-item">Perl <span class="badge">1 yr</span></li>
			<li class="list-group-item">PHP <span class="badge">1 yr</span></li>
		    </ul>
		</div>
		<div class="col-sm-4">
		    <h3>Knowledge</h3>
		    <ul class="list-group">
			<li class="list-group-item">Unix Shell <span class="badge">4 yrs</span></li>
			<li class="list-group-item">Linux <span class="badge">4 yrs</span></li>
			<li class="list-group-item">SQL <span class="badge">1 yr</span></li>
			<li class="list-group-item">Heroku <span class="badge">1 yrs</span></li>
			<li class="list-group-item">Networking <span class="badge">2 yrs</span></li>
			<li class="list-group-item">Cisco IOS <span class="badge">2 yrs</span></li>
			<li class="list-group-item">Windows<span class="badge">8 yrs</span></li>
			<li class="list-group-item">Microsoft Office <span class="badge">4 yrs</span></li>
			<li class="list-group-item">Active Directory <span class="badge">1 yr</span></li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</div>

<!-- <div class="row"> -->
    <!-- <div class="col-xs-3"> -->
    <%#= link_to image_tag("rails.png", alt: "Rails logo"),
    'http://rubyonrails.org/' %>
    <!-- </div> -->
    <!-- </div> -->

