<% provide(:title, "Portfolio") %>
<h1>My Portfolio</h1>
<div class ="container">
    <ul>
	<div class="row" id="porf-row">
	    <%= render 'static_pages/database_project_portfolio' %>
	    More info, coming soon...
	</div>
	<div class="row" id="porf-row">
	    <%#= render 'static_pages/capstone_ballparks_visited_portfolio' %>
	</div>
	<div class="row" id="porf-row">
	    <%#= render 'static_pages/softwaredev_SIUM_portfolio' %>

	</div>
    </ul>
</div>
