<footer class="footer">
    <small>
	The <a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
	by <a href="http://www.michaelhartl.com/" target="_blank">Michael Hartl</a>.
	Under the <a href="https://spdx.org/licenses/Beerware.html" target="_blank">Beerware License</a>
    </small>
    <nav>
	<ul>
	    <li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
	</ul>
    </nav>
</footer>
