<footer class="footer">
    <small>
	Inspired by <a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
	by <a href="http://www.michaelhartl.com/" target="_blank">Michael Hartl</a>.
    </small>
    <nav>
	<ul>
	    <li>Powered by <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a></li>
	</ul>
    </nav>
</footer>
